*{
    margin: 0;
    padding: 0;
}
.container-rowsColums{
    width: 100%;
    margin: 50px auto;
}
.cont{
    width: 50%;
    display: flex;
    margin: auto auto 15px auto ;
    flex-direction: column;
}
.cont label{
    font-weight: 700;
}
input[type=button]{
    display: flex;
    padding: 5px;
    margin: auto;
    text-align: center;
}
.tabla{
    width: 100%;
}
td input {
    width: 80%;
    display: flex;
    margin: auto;
}
.containerRest , .containerTransferir{
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: space-around;
}
.containerRest div , .containerTransferir div{
    display: flex;
    flex-direction: column;
}
